.content {
  width: 100%;
  height: auto;
}
.editor-row {
  text-align: left;
  word-break: break-all;
}
.hide-outline {
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}

::selection {
  background: #b1cff0;
}